.timer-container {
    text-align: center;
    padding: 20px;
    border: 2px solid #000000;
    border-radius: 10px;
    width: 300px;
    margin: 0 auto;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    background-color: #dfc4c4;
    position: relative;
}

.timer-display {
    margin: 20px 0;
}

.timer-display img {
    width: 48px;
    height: 48px;
}

.timer-display h2 {
    font-size: 2em;
    margin: 10px 0;
}

.timer-buttons button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.start-button {
    background-color: #4CAF50;
    color: white;
}

.stop-button {
    background-color: #f44336;
    color: white;
}

.reset-button {
    background-color: #ff9800;
    color: white;
}

.start-button:hover,
.stop-button:hover,
.reset-button:hover {
    opacity: 0.8;
}

.background-decor {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url('../assets/background.jpeg') no-repeat center center fixed;
    background-size: cover;
    z-index: -1;
    border-radius: 10px;
}


.gear-icon {
    position: absolute;
    bottom: -20px;
    right: -20px;
    width: 100px;
    height: 100px;
    opacity: 0.2;
}